{% extends "blog/base.html" %}
{% block content %}
        <h1 class="article-title">About Robbie</h1>
        <small class="ml-10 text-muted">11/04/2020</small>
    <div class="border-top pt-3"> 
        <p>I have been programming now for the last 6 months, and i have been trying to develop my skills in as many languages and frameworks as possible.
            This website is written in Django but i have made a more simple website using PHP and WP. I prefer using python as a backend language just
            for it's simplicity, but i would like to learn other languages and frameworks in future. <br>
            I am alot more interested in the backend aspect of programming and how things work under the hood, but i am not averted to experimenting with 
            design elements. As an end goal i would love to work in data science and as such, i have been slowly looking at tensorflow within python. However
            I feel like consolidating my mathematical skills first would make the prospect of a data analysis career more attainable. <br>
            Thankyou for visiting my site and all of my other projects are on my GitHub located  <a href="https://github.com/Robbie-Campbell">here</a>.</p>
    </div>
{% endblock %}
